[Unit]
Description=Montemayor LX200 <-> Ethernet Encoder Servo bridge
After=multi-user.target

[Service]
User=telescopio
ExecStart=/home/telescopio/montemayor/virtualenvs/venv37/bin/lx200-bridge --store-path="/home/telescopio/montemayor/state_lx200_bridge.json"
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

